<div class="row">
    <div class="col-2">
        <label for="character-name">Character name</label>
        <input type="text" class="form-control" name="character[name]" id="character_name" placeholder="Type here...">
    </div>
    <div class="col-2">
        <label for="player">Player</label>
        <input type="text" class="form-control" name="character[player]" id="player" placeholder="Type here...">
    </div>
    <div class="col-2">
        <label for="race">Race</label>
        <select name="character[race]" id="race" class="form-control">
            <option value="">Please select...</option>
            {% for race in races %}
                <option value="{{ race.getId }}">{{ race.getName }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-2">
        <label for="class">Class</label>
        <select name="character[class]" id="class" class="form-control">
            <option value="">Please select...</option>
            {% for class in classes %}
                <option value="{{ class.getId }}">{{ class.getName }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-2">
        <label for="alignment">Alignment</label>
        <select name="character[alignment]" id="alignment" class="form-control">
            <option value="">Please select...</option>
            {% for alignment in alignments %}
                <option value="{{ alignment.getId }}">{{ alignment.getName }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-2">
        <label for="deity">Deity</label>
        <select name="character[deity]" id="deity" class="form-control">
            <option value="">Please select...</option>
            {% for deity in deities %}
                <option value="{{ deity.getId }}">{{ deity.getName }}</option>
            {% endfor %}
        </select>
    </div>
</div>
<div class="row">
    <div class="col-1 offset-2">
        <label for="size">Size</label>
        <input type="text" class="form-control" name="character[size]" id="size" placeholder="Type here...">
    </div>
    <div class="col-1">
        <label for="age">Age</label>
        <input type="number" class="form-control" name="character[age]" id="age" placeholder="Type here...">
    </div>
    <div class="col-1">
        <label for="gender">Gender</label>
        <select name="character[gender]" class="form-control" id="gender">
            <option value="M">Male</option>
            <option value="F">Female</option>
        </select>
    </div>
    <div class="col-1">
        <label for="height">Height</label>
        <input type="number" class="form-control" name="character[height]" id="height" placeholder="Type here...">
    </div>
    <div class="col-1">
        <label for="weight">Weight</label>
        <input type="number" class="form-control" name="character[weight]" id="weight" placeholder="Type here...">
    </div>
    <div class="col-1">
        <label for="eyes">Eyes</label>
        <input type="text" class="form-control" name="character[eyes]" id="eyes" placeholder="Type here...">
    </div>
    <div class="col-1">
        <label for="hair">Hair</label>
        <input type="text" class="form-control" name="character[hair]" id="hair" placeholder="Type here...">
    </div>
    <div class="col-1">
        <label for="skin">Skin</label>
        <input type="text" class="form-control" name="character[skin]" id="skin" placeholder="Type here...">
    </div>
</div>