<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>D&D Bot Suite - Character Creator</title>

    <link href="{{ asset('bundles/app/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

</head>

<body>

    <div id="page-content">

        <div class="container-fluid">
            <h1 class="mt-4">Character Creator</h1>

            <hr/>

            <h3 class="mt-2">Character</h3>

            <div class="row">
                <div class="col-2">
                    <label for="character-name">Character name</label>
                    <input type="text" class="form-control" name="character-name" id="character-name" placeholder="Type here...">
                </div>
                <div class="col-2">
                    <label for="player">Player</label>
                    <input type="text" class="form-control" name="player" id="player" placeholder="Type here...">
                </div>
                <div class="col-2">
                    <label for="race">Race</label>
                    <select name="race" id="race" class="form-control">
                        <option>-</option>
                        {% for race in races %}
                            <option value="{{ race.getName }}">{{ race.getName }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-2">
                    <label for="class">Class</label>
                    <select name="class" id="class" class="form-control">
                        <option>-</option>
                        {% for class in classes %}
                            <option value="{{ class.getName }}">{{ class.getName }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-2">
                    <label for="race">Alignment</label>
                    <select name="race" id="race" class="form-control">
                        <option>-</option>
                        {% for alignment in alignments %}
                            <option value="{{ alignment.getName }}">{{ alignment.getName }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-2">
                    <label for="class">Deity</label>
                    <select name="class" id="class" class="form-control">
                        <option>-</option>
                        {% for deity in deities %}
                            <option value="{{ deity.getName }}">{{ deity.getName }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-1 offset-2">
                    <label for="size">Size</label>
                    <input type="text" class="form-control" name="size" id="size" placeholder="Type here...">
                </div>
                <div class="col-1">
                    <label for="age">Age</label>
                    <input type="number" class="form-control" name="age" id="age" placeholder="Type here...">
                </div>
                <div class="col-1">
                    <label for="gender">Gender</label>
                    <select name="gender" class="form-control" id="gender">
                        <option>-</option>
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                    </select>
                </div>
                <div class="col-1">
                    <label for="height">Height</label>
                    <input type="number" class="form-control" name="height" id="height" placeholder="Type here...">
                </div>
                <div class="col-1">
                    <label for="weight">Weight</label>
                    <input type="number" class="form-control" name="weight" id="weight" placeholder="Type here...">
                </div>
                <div class="col-1">
                    <label for="eyes">Eyes</label>
                    <input type="text" class="form-control" name="eyes" id="eyes" placeholder="Type here...">
                </div>
                <div class="col-1">
                    <label for="hair">Hair</label>
                    <input type="text" class="form-control" name="hair" id="hair" placeholder="Type here...">
                </div>
                <div class="col-1">
                    <label for="skin">Skin</label>
                    <input type="text" class="form-control" name="skin" id="skin" placeholder="Type here...">
                </div>
            </div>

            <hr/>

            <h3 class="mt-2">Stats</h3>

            <div class="row">
                <div class="col-2">
                    <table>
                        <tr>
                            <td class="text-center">Ability name</td>
                            <td class="text-center">Ability score</td>
                            <td class="text-center">Ability modifier</td>
                        </tr>
                        <tr>
                            <td class="align-middle text-center">STR<br><small>Strength</small></td>
                            <td class="align-middle text-center"><input class="form-control scores" name="str-score" id="str-score"></td>
                            <td class="align-middle text-center"><input class="form-control modifiers" name="str-modifier" id="str-modifier" readonly></td>
                        </tr>
                        <tr>
                            <td class="align-middle text-center">DEX<br><small>Dexterity</small></td>
                            <td class="align-middle text-center"><input class="form-control scores" name="dex-score" id="dex-score"></td>
                            <td class="align-middle text-center"><input class="form-control modifiers" name="dex-modifier" id="dex-modifier" readonly></td>
                        </tr>
                        <tr>
                            <td class="align-middle text-center">CON<br><small>Constitution</small></td>
                            <td class="align-middle text-center"><input class="form-control scores" name="con-score" id="con-score"></td>
                            <td class="align-middle text-center"><input class="form-control modifiers" name="con-modifier" id="con-modifier" readonly></td>
                        </tr>
                        <tr>
                            <td class="align-middle text-center">INT<br><small>Intelligence</small></td>
                            <td class="align-middle text-center"><input class="form-control scores" name="int-score" id="int-score"></td>
                            <td class="align-middle text-center"><input class="form-control modifiers" name="int-modifier" id="int-modifier" readonly></td>
                        </tr>
                        <tr>
                            <td class="align-middle text-center">WIS<br><small>Wisdom</small></td>
                            <td class="align-middle text-center"><input class="form-control scores" name="wis-score" id="wis-score"></td>
                            <td class="align-middle text-center"><input class="form-control modifiers" name="wis-modifier" id="wis-modifier" readonly></td>
                        </tr>
                        <tr>
                            <td class="align-middle text-center">CHA<br><small>Charisma</small></td>
                            <td class="align-middle text-center"><input class="form-control scores" name="cha-score" id="cha-score"></td>
                            <td class="align-middle text-center"><input class="form-control modifiers" name="cha-modifier" id="cha-modifier" readonly></td>
                        </tr>
                    </table>
                </div>
                <div class="col-10">
                    <div class="row">
                        <div class="col-1">
                            <label for="hp">HP</label>
                            <input type="number" class="form-control" name="hp" id="hp" placeholder="Type...">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-1">
                                    <label for="ac">AC</label>
                                    <input type="text" class="form-control" name="ac" id="ac" readonly value="10">
                                </div>
                                <div class="col-1">
                                    <label>Base</label>
                                    <input type="text" class="form-control" disabled value="10">
                                </div>
                                <div class="col-1">
                                    <label for="ac_armor">Armor</label>
                                    <input type="number" class="form-control acs" name="ac_armor" id="ac_armor" value="0">
                                </div>
                                <div class="col-1">
                                    <label for="ac_shield">Shield</label>
                                    <input type="number" class="form-control acs" name="ac_shield" id="ac_shield" value="0">
                                </div>
                                <div class="col-1">
                                    <label for="ac">DEX</label>
                                    <input type="number" class="form-control acs" name="ac_dex" id="ac_dex" readonly value="0">
                                </div>
                                <div class="col-1">
                                    <label for="ac_size">Size</label>
                                    <input type="number" class="form-control acs" name="ac_size" id="ac_size" value="0">
                                </div>
                                <div class="col-1">
                                    <label for="ac_natural">Natural</label>
                                    <input type="number" class="form-control acs" name="ac_natural" id="ac_natural" value="0">
                                </div>
                                <div class="col-1">
                                    <label for="ac_deflection">Deflection</label>
                                    <input type="number" class="form-control acs" name="ac_deflection" id="ac_deflection" value="0">
                                </div>
                                <div class="col-1">
                                    <label for="ac_misc">Misc</label>
                                    <input type="number" class="form-control acs" name="ac_misc" id="ac_misc" value="0">
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-1">
                                    <label for="initiative">Initiative</label>
                                    <input type="text" class="form-control" name="initiative" id="initiative" readonly>
                                </div>
                                <div class="col-1">
                                    <label for="initiative_dex">DEX</label>
                                    <input type="number" class="form-control initiatives" name="initiative_dex" id="initiative_dex" readonly value="0">
                                </div>
                                <div class="col-1">
                                    <label for="initiative_misc">Misc</label>
                                    <input type="number" class="form-control initiatives" name="initiative_misc" id="initiative_misc" value="0">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script src="{{ asset('bundles/app/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('bundles/app/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

<script>
    $('.scores').on('input', function() {
        const targetId = $(this).attr('id').replaceAll('-score', '-modifier');
        const modifierValue = Math.floor((Number($(this).val()) - 10) / 2);
        $(`#${targetId}`).val(modifierValue);
    });

    $('#dex-score').on('input', function() {
        const val = Math.floor((Number($(this).val()) - 10) / 2);
        $('#ac_dex').val(val).trigger('change');
        $('#initiative_dex').val(val).trigger('change');
    });

    $('.acs').on('input change', function() {
        let ac = 0;
        $('.acs').each((_, el) => ac += Number($(el).val()));
        $('#ac').val(ac);
    });

    $('.initiatives').on('input change', () => $('#initiative').val(Number($('#initiative_dex').val()) + Number($('#initiative_misc').val())));
</script>

</body>

</html>
