<div class="row">
    <div class="col-6">
        <table>
            <tr>
                <td></td>
                <td class="text-center">Name</td>
                <td class="text-center">Key</td>
                <td class="text-center">Total</td>
                <td></td>
                <td class="text-center">Ability</td>
                <td></td>
                <td class="text-center">Ranks</td>
                <td></td>
                <td class="text-center">Misc</td>
            </tr>
            {% for skill in skills %}
                <tr>
                    <td><input type="checkbox" id="{{ skill.getName }}_cb" name="class_skills[{{ skill.getId }}]"></td>
                    <td class="align-middle">{{ skill.getName }}</td>
                    <td class="align-middle text-center">&nbsp;{{ skill.getKeyAbility }}&nbsp;</td>
                    <td class="align-middle text-center" id="{{ skill.getName }}">0</td>
                    <td class="align-middle text-center">&nbsp;=&nbsp;</td>
                    <td class="align-middle text-center" id="{{ skill.getName }}_modifier">0</td>
                    <td class="align-middle text-center">&nbsp;+&nbsp;</td>
                    <td class="align-middle"><input type="number" class="form-control" name="{{ skill.getName }}_ranks" id="{{ skill.getName }}_ranks"></td>
                    <td class="align-middle text-center">&nbsp;+&nbsp;</td>
                    <td class="align-middle"><input type="number" class="form-control" name="{{ skill.getName }}_misc_mod" id="{{ skill.getName }}_misc_mod"></td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-4">

    </div>
</div>