<div class="row">
    <div class="col-3">
        <button type="button" class="btn btn-primary" id="add-spell">Add Spell</button>
        <br><br>
        <table class="table-bordered" id="spells"></table>
    </div>
    <div class="col-2">
        <label for="spell_save" class="form-control-label">Spell Save</label>
        <input type="number" id="spell_save" name="stats[general][spell_save]" class="form-control" placeholder="Type here...">
    </div>
    <div class="col-2">
        <label for="arcane_spell_failure" class="form-control-label">Arcane Spell Failure (%)</label>
        <input type="number" name="stats[general][arcane_spell_failure]" id="arcane_spell_failure" class="form-control" placeholder="Type here..." min="0" max="99">
    </div>
    <div class="col-5">
        <table>
            <tr>
                <td class="text-center">SPELLS KNOWN</td>
                <td class="text-center">SPELL SAVE DC</td>
                <td class="text-center">LEVEL</td>
                <td class="text-center">SPELLS PER DAY</td>
                <td class="text-center">BONUS SPELLS</td>
            </tr>
            <tr>
                <td><input type="number" name="daily_spells[spells_known_0]" class="form-control" value="0"></td>
                <td><input type="number" name="daily_spells[spell_save_dc_0]" class="form-control" value="0"></td>
                <td class="align-middle text-center">0</td>
                <td><input type="number" name="daily_spells[spells_per_day_0]" class="form-control" value="0"></td>
                <td class="align-middle text-center">0</td>
            </tr>
            {% for i in 1..9 %}
                <tr>
                    <td><input type="number" name="daily_spells[spells_daily_{{ i }}]" class="form-control" value="0"></td>
                    <td><input type="number" name="daily_spells[spell_save_dc_{{ i }}]" class="form-control" value="0"></td>
                    <td class="align-middle text-center">{{ i }}</td>
                    <td><input type="number" name="daily_spells[spells_per_day_{{ i }}]" class="form-control" value="0"></td>
                    <td><input type="number" name="daily_spells[bonus_spells_{{ i }}]" class="form-control" value="0"></td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>